
# อนุญาตให้ index_admin.php เข้าถึงได้โดยตรง
<Files "index_admin.php">
    Order Allow,Deny
    Allow from all
</Files>
<Files "index_admin.php">
    Order Allow,Deny
    Allow from all
</Files>

# ปฏิเสธการเข้าถึงไฟล์อื่น ๆ ทั้งหมด (ยกเว้นที่ระบุข้างต้น)
Order Deny,Allow
Deny from all